<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>
  <div class="container hide-for-md">
    <add-event events="$ctrl.events"></add-event>
  </div>
  <div class="container">
    
    <mwl-calendar
        view="$ctrl.calendarView"
        view-date="$ctrl.calendarDate"
        events="$ctrl.events"
        view-title="$ctrl.calendarTitle"
        on-event-click="$ctrl.eventClicked(calendarEvent)"
        on-event-times-changed="$ctrl.calendarEvent.startsAt = calendarNewEventStart; $ctrl.calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="true">
    </mwl-calendar>
    
  </div>
  
  <div class="row row-offcanvas row-offcanvas-left active hide-for-xs">
    <add-event events="$ctrl.events"></add-event>
  </div>
  
</section>
